<div id="welcome" class="modal modal-backdrop">
  <div class="modal-wrapper">
    <div class="modal-internal-wrapper">
      <div class="modal-title">
        <span>Instruções de navegação</span>
      </div>
      <div class="modal-content">
        <p>Você já usou uma interface de usuário baseada em texto (TUI - Text-based User Interface)?</p>
        <p>
          Use as téclas direcionais
          <code>(↑, ↓, ←, →)</code>
          para navegar entre os links.
        </p>
        <p>
          Para acessar o menu, combine a tecla
          <code>Alt</code>
          com a letra referente ao menu.
        </p>
        <p>
          Ex.:
          <code>Alt + H</code>
          para selecionar Home.
        </p>
        <p>
          Use
          <code>Esc</code>
          para sair do menu.
        </p>
      </div>
      <div class="modal-footer">
        <a class="close-button button" href="javascript:void(0)">OK</a>
      </div>
    </div>
  </div>
</div>
