---
---

@import "minima";

$green-color: #586e26;
$green-color-light: lighten($green-color, 10%);
$green-color-dark: darken($green-color, 10%);
$background-color: $green-color;
$text-color: #f5f5dc;
$link-color: #ffff80;


body {
    &.home {
        background-color: $background-color;
        color: $text-color;

        .site-title,
        .site-title:visited {
            color: #fff;
        }

        .site-header {
            border-top: 5px solid $green-color-dark;
            border-bottom: 1px solid $green-color-light;
        }

        .site-footer {
            border-top: 1px solid $green-color-light;

            .footer-col-wrapper {
                color: $text-color;
            }
        }

        .svg-icon {
            fill: $text-color;
        }

        a {
            color: $link-color;

            &.page-link {
                color: $link-color;
            }

            .svg-icon {
                fill: $link-color;
            }

            &:visited {
                color: lighten($link-color, 10%);

                .svg-icon {
                    fill: lighten($link-color, 10%);
                }
            }
        }

        .post-meta {
            color: $text-color;
        }

        pre, code {
            border: 1px solid lighten($green-color-light, 5%);
            background-color: $green-color-light;
        }

        .site-nav {
            @media screen and (max-width: 600px) {
                border: 1px solid lighten($green-color-light, 5%);
                background-color: $green-color-light;

                .menu-icon {
                    > svg {
                        fill: $link-color;
                    }
                }
            }
        }
    }
}

.home-description {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px;

    .paragraphs {
        grid-row: span 2;
    }
}
