<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-BR" }}">

  {%- include head.html -%}

  <body
    {% if page.url == "/" %}
    class="home"
    {% endif %}>

    <div class="grid-container">
      {%- include header.html -%}

      <div class="external-wrapper">
        <div class="middle-wrapper">
          <div class="internal-wrapper">

            <main class="page-content" aria-label="Conteúdo">
              {{ content }}
            </main>

            {%- include footer.html -%}

          </div>
        </div>
      </div>
    </div>
    {%- include modal.html -%}
  </body>
</html>
